<div *ngIf="account">
  <p>Name: {{account.name}}</p>
  <p>Username: {{account.username}}</p>
  <p>Tenant: {{account.tenantId}}</p>
  <button mat-raised-button (click)="logout()">Logout</button>
</div>
<div *ngIf="!loginDisplay">
  <button mat-raised-button *ngIf="!loginDisplay" (click)="login()">Login</button>
</div>


<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet></router-outlet>
